.loginform2{
    font-family: poppins;
    background-color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.regform2 {
    font-family: poppins;
    background-color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}